*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: #121111;
    overflow-x: hidden;
}
p, h1, h2, h3, h4, h5, h6{
    color: white;
}


h1{
    font-size: 3rem;
    text-align: center;
}
/* CSS for nav section */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    padding: 1.5rem 10%;
}

.navImg{
    height: 40px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}


/* CSS for hero section */
.hero{
    height: 90vh;
    background-image: linear-gradient(86deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 43%, rgba(0,0,0,0.87) 60%, rgba(0,0,0,0.79) 100%),url(./images/naslovnaSlika.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.heroEl{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 10%;
    height: 100%;
    width: 100%;
}
.heroEl > img{
    width: 40%;
}

button{
    position: relative;
    padding: 0.8rem 4rem 0.8rem 2rem;
    font-size: 1.5rem;
    background-color: transparent;
    color: white;
    border-radius: 2px;
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    background-color: white;
    color: black;
}

button:after{
    content: '➤';
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5%;
}

button:hover:after{
    color: black; 
}

/* CSS for about section */
.aboutUs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    gap: 5rem;
    color: white;
}


.aboutUs > p{
    width: 60%;
    font-size: 1.5rem;
    text-align: center;
}

.aboutUsImgHolder{
    width: 100vw;
}

.aboutUsImgHolder > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutUs > button{
    scale: 0.8;
}

/* css for shop section */

.shop{
    width: 80%;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    color: white;
}

.shop > h3{
    font-size: 2rem;
    align-self: flex-start;
}

.shopItems{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.shopItem{
    /* width: 30%; */
    padding: 1rem;
    background-color: #414141;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    gap: 2rem;

}

.shopItem > img{
    width: 20vw;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.shopItem > h4{
    font-size: 1.5rem;
}