*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: #121111;
    padding: 1rem 10%;
}

.navImg{
    height: 50px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}